/* Reset margins and paddings */
*{
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/sourcesanspro-bold.eot');
    src: url('fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold.woff') format('woff'),
         url('fonts/sourcesanspro-bold.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuton Bold';
    src: url('fonts/neuton-bold.eot');
    src: url('fonts/neuton-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/neuton-bold.woff') format('woff'),
         url('fonts/neuton-bold.ttf') format('truetype'),
         url('fonts/neuton-bold.svg#neutonbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuton';
    src: url('fonts/neuton-regular.eot');
    src: url('fonts/neuton-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/neuton-regular.woff') format('woff'),
         url('fonts/neuton-regular.ttf') format('truetype'),
         url('fonts/neuton-regular.svg#neutonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #FAFAFA;
	font-family: 'Neuton', serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	line-height: 1.4;
}

h1, h2, h3, b, nav, a.prominent {
	font-family: 'Source Sans Pro', sans-serif;
}

#wrap {
	width: 960px;
	margin: 80px auto 0px;
}

#wrap > main, #wrap > article{
	padding: 0px 25px 100px;
}

p{
	text-align: justify;
	margin-bottom: 10px;	
}

a{
	color: #0044CC;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

a.right{
	float: right;
}

a.prominent{
	font-size: 20px;
	background-color: #5500AA;
	color: #EEDDFF;
	padding: 2px 10px;
	margin-right: 10px;
	border-radius: 4px;
	text-decoration: none;
}
a.prominent:hover{
	color: #FFFFFF;
}

footer{
	margin-top: 20px;
	border-top: 1px solid #FFFFFF;	
	box-shadow: 0px -1px 0px #E0E0E0;
}

nav.sitenav{
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: left;
	background-color: #5500AA;
	box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	z-index: 100;
}

nav ul{
	list-style: none;
	margin: 12px 20px;
	vertical-align: middle;
}

nav ul li{
	display: inline;
	margin: 0px 5px;
	color: rgba(255, 255, 255, 0.5);
}

nav ul li b a{
	font-size: 30px;
	background-color: #EEDDFF;
	color: #5500AA;
	padding: 2px 10px;
	margin-right: 10px;
	border-radius: 4px;
}
nav ul li b a:hover{
	color: #5500AA;
	background-color: #FFFFFF;
}

nav ul li.right {
	float: right;
	position: relative;
	top: 10px;
}

nav ul li a{
	color: #EEDDFF;
	text-decoration: none;
}

nav ul li a:hover{
	color: #FFFFFF;
}

div.profileCard {
	display: inline-block;
	border: 2px solid #5500AA;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	text-align: left;
	width: 250px;
	vertical-align: top;
}

div.profileCard img {
	border-radius: 4px;
	width: 128px;
	height: 128px;
}

div.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}







